<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="admin/layout :: layout">
<body>
<div th:fragment="content">
    <input type="button" class="btn btn-default" value="Wyślij do wszystkich" onclick="Modal.getSendMailToAllModal()"/>
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${members != null}" th:each="member : ${members}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
            <td><input type="button" class="btn btn-primary mailSend" th:data-id="${member.id}" value="Wyślij wiadomość"/></td>
            <td><input type="button" class="btn btn-danger memberDelete" th:data-id="${member.id}" value="Usuń"/></td>
        </tr>
        </tbody>
    </table>
    <div id="modal-holder"></div>
    <script th:src="@{/assets/js/jquery-2.1.3.min.js}"></script>
    <script>
        $('.mailSend').on('click', function () {
            Modal.getSendMailModal($(this).attr('data-id'));
        });
        $('.memberDelete').on('click', function () {
            Modal.getDeleteMailMemberModal($(this).attr('data-id'));
        });
    </script>
</div>

</body>
</html>