<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  th:include="homeLayout :: layout">
<body>
<div th:fragment="content">

	<div class="content-block parallax" id="about-me"><!-- ABOUT ME -->
		<div class="container text-center">
			<header class="block-heading cleafix">
				<h1 th:text="#{pictures.title}"></h1>
				<p th:text="#{pictures.desc}"></p>
			</header>
			<section class="block-body">
				<div class="row">
					<div class="col-md-4">
						<div class="service">
							<img th:src="@{/assets/images/palm.png}" alt="arrow" class="block-image"/>
							<h2>Illustration</h2>
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service">
							<img th:src="@{/assets/images/palm.png}" alt="arrow" class="block-image"/>
							<h2>Illustration</h2>
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service">
							<img th:src="@{/assets/images/palm.png}" alt="arrow" class="block-image"/>
							<h2>Illustration</h2>
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div><!-- ABOUT ME -->


	<div class="content-block" id="portfolio">
		<div class="container">
			<header class="block-heading cleafix">
				<a href="#" class="btn btn-o btn-lg pull-right" th:text="#{latestWork.viewAll}"></a>
				<h1 th:text="#{latestWork.title}"></h1>
				<p th:text="#{latestWork.desc}"></p>
			</header>
			<section class="block-body">
				<div class="row">
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/rain_1-320x240.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/flat_icons_thumb.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/wood-320x240.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/bike-320x240.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
					<div class="col-sm-4 block-element">
						<a href="#" class="recent-work" style="background-image:url(assets/images/six_1-320x240.jpg)">
							<span class="btn btn-o-white">Lorem Rocks</span>
						</a>
					</div>
				</div>
			</section>
		</div>
	</div><!-- #portfolio -->


	<div class="content-block" id="blog">
		<div class="container">
			<header class="block-heading cleafix">
				<a th:href="@{/blog}" class="btn btn-o btn-lg pull-right" th:text="#{latestBlog.viewAll}"></a>
				<h1 th:text="#{latestBlog.title}"></h1>
				<p th:text="#{latestBlog.desc}"></p>
			</header>
			<section class="block-body">
				<div class="row">
					<div th:if="${blog != null}" th:each="blogPage, idx : ${blog}" class="col-sm-4 blog-post">
						<img class="block-image" th:src="|@{/blog/image/}${blogPage.id}|"/>
						<a th:href="|@{/blog/}${blogPage.id}|"><h2 th:text="${blogPage.title}"></h2></a>
						<div class="date" th:text="${#dates.format(blogPage.addDate, 'dd-MM-yyyy')}"></div>
						<div style="line-height: 2.5ex; max-height: 12.5ex; overflow: hidden;" th:utext="${blogPage.content}"></div>
						<a th:href="|@{/blog/}${blogPage.id}|" th:text="#{latestBlog.readMore}"></a>
					</div>
				</div>
			</section>
		</div>
	</div><!-- #blog -->

	<div class="content-block" id="testimonials">
		<div class="container">
			<header class="block-heading cleafix">
				<h1 th:text="#{testimontals.title}"></h1>
				<p th:text="#{testimontals.desc}"></p>
			</header>
			<section class="block-body">
				<div class="row">
					<div class="col-md-4">
						<div class="testimonial">
							<img src="assets/images/testimonial_31-190x190.jpg">
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
							<strong>Jhon Doe</strong><br/>
							<span>Head of Ideas, Technext</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<img src="assets/images/testimonial_11-190x190.jpg">
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
							<strong>Jane Doe</strong><br/>
							<span>CEO, Apple Inc</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="testimonial">
							<img src="assets/images/testimonial_22-190x190.jpg">
							<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
							<strong>Albert Doe</strong><br/>
							<span>Team Lead, Design Studio</span>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div><!-- /#testimonials -->
</div>

</body>
</html>